body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

/*Directory Css */

.users {
  background-color: #CFE2F3;
  border: 2px solid #000;
  padding: 9px 20px;
  border-radius: 9px;
  margin: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 40%;
}

.user {
  display: inline;
}


/* Profile Css */

.profile-container {
  background-color: #CFE2F3;
  border: 2px solid #000;
  width: 100%;
  margin: 10px;
  border-radius: 15px;
}

.profile {
  padding: 15px 25px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Post Css */

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  padding: 15px 20px;
  border: 2px solid #000000;
  border-radius: 15px;
  background-color: #CFE2F3;
  display: inline-table;
  width: calc(26%);
  margin-bottom: 20px;
}
/* Header Css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #d8d8d88d;
  color: #000000;
  overflow: auto;
}

.pause {
  display: flex;
  align-items: center;
}

#country {
  margin: 0px 25px 0px 10px;
  width: 230px;
  height: 35px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000;
}

.btn {
  background-color: #CFE2F3;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  margin-left: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pause-btn {
  background-color: #A9C89C;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  margin: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.header > .row {
  width: 75%;
  justify-content: space-between;
}
.header > .pause {
  width: 25%;
  justify-content: space-between;
}

.time {
  padding: 10px;
    background: #0F2128;
    color: aliceblue;
    margin: 10px 25px;
    border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .header {
      flex-direction: column;
  }
    .header>.row {
      width: 100%;
    }
  
    .header>.pause {
      width: 100%;
    }
  .profile {
    font-size: 20px;
  }

  .users {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {

  .post {
    width: 100%;
  }

  .users {
    width: 100%;
  }
  .profile {
    font-size: 12px;
  }
}